@model IEnumerable<MyApp.Models.EventModel>

@{
    ViewBag.Title = "MyEvents";
}

<h2>My Events</h2>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center">
            <table class="table">
                @foreach (var item in Model)
                {
                        <tr class="text-center">
                            <th>
                                <h3>@Html.ActionLink(item.Title, "Details", "Home", new { id = item.EventId }, null)</h3>
                            </th>
                        </tr>
                }
            </table>

        </div>

    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InviteByEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmailId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InviteByEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmailId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("View", "Details", new { id=item.EventId })
        </td>
    </tr>
}

</table>*@
